
/* app style */
* {
  padding: 0;
  margin: 0;
  bottom: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  font: normal normal 10px/1em arial;
  height: 100%;
  overflow: hidden;
}
.global {
  height: 100%;
  overflow: hidden;
}
.wrapper {
  width: 100%;
  padding: 0 20px;
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: #e74c3c;
  padding: 20px 0;
  height: 90px;
}
.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 80px;
}
.form-search {
  margin: 0 40px 0 55px;
  .search {
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 4px;
    font-size: 1.6em;
  }
}
.nav {
  position: absolute;
  top: 25px;
  right: 10px;
}


/*.content {
  position: absolute;
  z-index: 3;
  top: 90px;
  bottom: 0;
  left: 0;
  right: 0;
}*/
/* list */
.phrase-list {
  margin: 0 -20px;
}
.phrase-link {
  display: block;
  padding: 20px;
  border-bottom: 1px solid #e7e7e7;
}
.phrase-item:nth-child(even) {
  background-color: #f9f9f9;
}
.phrase-link:hover, .phrase-link:focus {
  background-color: rgb(236, 240, 241);
}
.phrase-local {
  display: block;
  font-size: 1.2em;
  color: #777;
}
.phrase-foreign {
  font-size: 1.8em;
  color: #2b2b2b;
}

/* scenes */
.scene {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.loading {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
  min-height: 100%;
  background-color: #fff;
  -moz-animation: movetop .8s 1 2s linear forwards;
  -webkit-animation: movetop .8s 1 2s linear forwards;
  animation: movetop .8s 1 2s linear forwards;
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
@-moz-keyframes movetop {
  to {bottom: 100%;}
}
@-webkit-keyframes movetop {
  to {bottom: 100%;}
}
@keyframes movetop {
  to {bottom: 100%;}
}
.pre-choose {
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  z-index: 4;
  min-height: 100%;
  background-color: #fff;
  -moz-animation: movepre .8s 1 2s linear forwards;
  -webkit-animation: movepre .8s 1 2s linear forwards;
  animation: movepre .8s 1 2s linear forwards;
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
@-moz-keyframes movepre {
  to {bottom: 0;}
}
@-webkit-keyframes movepre {
  to {bottom: 0;}
}
@keyframes movepre {
  to {bottom: 0;}
}
.core {
  top: 90px;
  overflow: scroll;
}
.choose {
  z-index: 3;
  min-width: 100%;
  background-color: #e74c3c;
  left: 100%;
  transition:  all .3s linear;
}
.choose.active {
  left: 0;
}

/* loading */
.logo-c, .logo-t{
  position: relative;
  display: block;
  margin: 10em auto 0;
  opacity: 0;
  -moz-animation: fadein .8s 1 linear forwards;
  -webkit-animation: fadein .8s 1 linear forwards;
  animation: fadein .8s 1 linear forwards;
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.logo-t {
  position: relative;
  display: block;
  margin: 3em auto 0;
  -moz-animation: movein 1.3s 1 linear forwards;
  -webkit-animation: movein 1.3s 1 linear forwards;
  animation: movein 1.3s 1 linear forwards;
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
@-moz-keyframes fadein {
  to {opacity: 1;}
}
@-webkit-keyframes fadein {
  to {opacity: 1;}
}
@keyframes fadein {
  to {opacity: 1;}
}
@-moz-keyframes movein {
  0% {
    top: 0;
    opacity: 0;
  }
  60% {
    top: -1.2em;
    opacity: .2;
  }
  100% {
    top: -1.5em;
    opacity: 1;
  }
}
@-webkit-keyframes movein {
  0% {
    top: 0;
    opacity: 0;
  }
  60% {
    top: -1.2em;
    opacity: .2;
  }
  100% {
    top: -1.5em;
    opacity: 1;
  }
}
@keyframes movein {
  0% {
    top: 0;
    opacity: 0;
  }
  60% {
    top: -1.2em;
    opacity: .2;
  }
  100% {
    top: -1.5em;
    opacity: 1;
  }
}

/* choose */
.form-choose {
  padding: 50px 0;
}
.form-choose input, .form-choose select {
  display: block;
  margin-bottom: 40px;
  width: 100%;
  padding: 10px;
  font-size: 1.6em;
  border-radius: 4px;
}
.btn {
  display: block;
  width: 100%;
  padding: 20px 50px;
  margin-bottom: 1em;
  background-color: rgb(241, 196, 15);
  color: #fff;
  font-size: 2em;
  border-radius: 4px;
}
.btn-cancel {
  background-color: rgb(149, 165, 166);
  text-align: center;
  font-size: 2em;
  padding: 25px 50px;
}
.form-choose label {
  display: block;
  font-size: 1.6em;
  color: #fff;
  margin: 0 0 .5em;
}
.pre-choose .form-choose {
  width: 80%;
  margin: 4em auto 0;
}
.pre-choose label, .config label {color: #777;}
select {border: 1px solid #e7e7e7;}