
/* app style */
* {
  padding: 0;
  margin: 0;
  bottom: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font: normal normal 10px/1em arial;
  height: 100%;
  overflow: hidden;
}
.global {
  height: 100%;
  overflow: hidden;
}
.wrapper {
  width: 100%;
  padding: 0 20px;
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: #e74c3c;
  padding: 10px 0;
  height: 60px;
}
.logo {
  position: absolute;
  top: 8px;
  left: 10px;
  width: 80px;
}
.form-search {
  margin: 0 30px 0 40px;
  .search {
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 4px;
    font-size: 1.6em;
  }
}
.nav {
  position: absolute;
  top: 9px;
  right: 5px;
}


/*.content {
  position: absolute;
  z-index: 3;
  top: 90px;
  bottom: 0;
  left: 0;
  right: 0;
}*/
/* list */
.phrase-list {margin: 0 -20px;}
.phrase {
  display: block;
  padding: 20px;
}
.phrase-item:nth-child(even) {background-color: #f9f9f9;}
.phrase-local {
  display: block;
  font-size: 1.2em;
  color: #777;
}
.phrase-foreign {
  font-size: 1.8em;
  color: #2b2b2b;
}

/* scenes */
.scene {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.pre-choose {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
  min-height: 100%;
  background-color: #fff;
}
.core {
  top: 60px;
  overflow: scroll;
}
.choose {
  z-index: 3;
  min-width: 100%;
  overflow-y: auto;
  background-color: #e74c3c;
  left: 100%;
  transition:  all .3s linear;
}
.choose.active {left: 0;}

/* choose */
.form-choose {padding: 50px 0;}
.form-choose input, .form-choose select {
  display: block;
  margin-bottom: 40px;
  width: 100%;
  padding: 10px;
  font-size: 1.6em;
  border-radius: 4px;
}
.form-choose select {
  line-height: 30px;
  min-height: 30px;
}
.btn {
  display: block;
  width: 100%;
  padding: 20px 50px;
  margin-bottom: 1em;
  background: rgb(241, 196, 15) none;
  color: #fff;
  font-size: 2em;
  border-radius: 4px;
}
.btn-cancel {
  background-color: rgb(149, 165, 166);
  text-align: center;
  font-size: 2em;
  padding: 25px 50px;
}
.form-choose label {
  display: block;
  font-size: 1.6em;
  line-height: 1em;
  color: #fff;
  margin: 0 0 .5em;
}
.pre-choose .form-choose {
  width: 80%;
  margin: 4em auto 0;
}
.pre-choose label, .config label {color: #777;}
select {border: 1px solid #e7e7e7;}