/* app style */
/* line 3, main.scss */
* {
  padding: 0;
  margin: 0;
  bottom: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, main.scss */
body {
  font: normal normal 10px/1em arial;
  height: 100%;
  overflow: hidden;
}

/* line 20, main.scss */
.global {
  height: 100%;
  overflow: hidden;
}

/* line 24, main.scss */
.wrapper {
  width: 100%;
  padding: 0 20px;
}

/* header */
/* line 30, main.scss */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: #e74c3c;
  padding: 10px 0;
  height: 60px;
}

/* line 40, main.scss */
.logo {
  position: absolute;
  top: 8px;
  left: 10px;
  width: 80px;
}

/* line 46, main.scss */
.form-search {
  margin: 0 30px 0 40px;
}
/* line 48, main.scss */
.form-search .search {
  width: 100%;
  height: 40px;
  padding: 10px;
  border-radius: 4px;
  font-size: 1.6em;
}

/* line 56, main.scss */
.nav {
  position: absolute;
  top: 9px;
  right: 5px;
}

/*.content {
  position: absolute;
  z-index: 3;
  top: 90px;
  bottom: 0;
  left: 0;
  right: 0;
}*/
/* list */
/* line 72, main.scss */
.phrase-list {
  margin: 0 -20px;
}

/* line 73, main.scss */
.phrase {
  display: block;
  padding: 20px;
}

/* line 77, main.scss */
.phrase-item:nth-child(even) {
  background-color: #f9f9f9;
}

/* line 78, main.scss */
.phrase-local {
  display: block;
  font-size: 1.2em;
  color: #777;
}

/* line 83, main.scss */
.phrase-foreign {
  font-size: 1.8em;
  color: #2b2b2b;
}

/* scenes */
/* line 89, main.scss */
.scene {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

/* line 97, main.scss */
.pre-choose {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
  min-height: 100%;
  background-color: #fff;
}

/* line 106, main.scss */
.core {
  top: 60px;
  overflow: scroll;
}

/* line 110, main.scss */
.choose {
  z-index: 3;
  min-width: 100%;
  overflow-y: auto;
  background-color: #e74c3c;
  left: 100%;
  transition: all .3s linear;
}

/* line 118, main.scss */
.choose.active {
  left: 0;
}

/* choose */
/* line 121, main.scss */
.form-choose {
  padding: 50px 0;
}

/* line 122, main.scss */
.form-choose input, .form-choose select {
  display: block;
  margin-bottom: 40px;
  width: 100%;
  padding: 10px;
  font-size: 1.6em;
  border-radius: 4px;
}

/* line 130, main.scss */
.form-choose select {
  line-height: 30px;
  min-height: 30px;
}

/* line 134, main.scss */
.btn {
  display: block;
  width: 100%;
  padding: 20px 50px;
  margin-bottom: 1em;
  background: #f1c40f none;
  color: #fff;
  font-size: 2em;
  border-radius: 4px;
}

/* line 144, main.scss */
.btn-cancel {
  background-color: #95a5a6;
  text-align: center;
  font-size: 2em;
  padding: 25px 50px;
}

/* line 150, main.scss */
.form-choose label {
  display: block;
  font-size: 1.6em;
  line-height: 1em;
  color: #fff;
  margin: 0 0 .5em;
}

/* line 157, main.scss */
.pre-choose .form-choose {
  width: 80%;
  margin: 4em auto 0;
}

/* line 161, main.scss */
.pre-choose label, .config label {
  color: #777;
}

/* line 162, main.scss */
select {
  border: 1px solid #e7e7e7;
}
