<section class="loading">
	<img class="logo-c" src="../img/chatty_welcome_c.svg" alt="">
	<img class="logo-t" src="../img/chatty_welcome_t.svg" alt="">
</section>
<section class="pre-choose">
<form action="" class="form-choose">
  <label for="">{{ ux.paisOrigem }}</label>
  <select name="" ng-model="user.origem">
    <option value="">Select</option>
    <option value="es">Espanha</option>
    <option value="en">Estados Unidos</option>
    <option value="pt">Brasil</option>
  </select>

  <label for="">{{ ux.paisDestino }}</label>
  <select name="" ng-model="user.aprender">
    <option value="">Select</option>
    <option value="es">Espanha</option>
    <option value="en">Estados Unidos</option>
    <option value="pt">Brasil</option>
  </select>

  <button class="btn btn-save" ng-click="choose(user)">{{ ux.action }}</button>
</form>
</section>
