<label for="">{{ ux.paisOrigem }}</label>
<select name="" ng-model="user.origem">
	<option value="">Select</option>
	<option value="en">Inglaterra</option>
	<option value="en">Canada</option>
	<option value="en">Estados Unidos</option>
	<option value="pt-br">Brasil</option>
</select>

<label for="">{{ ux.paisDestino }}</label>
<select name="" ng-model="user.aprender">
	<option value="">Select</option>
	<option value="en">Inglaterra</option>
	<option value="en">Canada</option>
	<option value="en">Estados Unidos</option>
	<option value="pt-br">Brasil</option>
</select>

<button class="btn" ng-click="choose(user)">{{ ux.action }}</button>