<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Chatty</title>
  <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
 <div class="global">
    <header class="header">
      <div class="wrapper">
        <h1 class="logo">Chatty</h1>
        <form action="" class="form-search">
          <input class="search" type="search" />
        </form>
        <nav class="nav"></nav>
      </div>
    </header>
    <main class="content">
      <div class="wrapper">
        <ul class="phare-list">
          <li class="phrase-item">
            <a class="phrase-item" href="#">
              <span class="phrase-local">Olá</span>
              <span class="phrase-foreign">Hello</span>
            </a>
          </li>
          <li class="phrase-item">
            <a class="phrase-item" href="#">
              <span class="phrase-local">Olá</span>
              <span class="phrase-foreign">Hello</span>
            </a>
          </li>
        </ul>
      </div>
    </main>

  </div>
</body>
</html>