<header class="header">
  <div class="wrapper">
    <label class="logo" for="search"><img src="img/logo-icon.png" alt=""></label>
    <form action="" class="form-search">
      <input id="search" class="search" type="search" ng-model="search" placeholder="{{ ux.search }}"/>
    </form>
    <nav class="nav"><a href="javascript:void(0);" id="nav"><img src="img/icon-nav.png" alt=""></a></nav>
  </div>
</header>

<main class="content">
  <div class="core scene">
    <div class="wrapper">
      <ul class="phrase-list">
        <li class="phrase-item" ng-repeat="dado in result | filter:search">
          <span class="phrase" ng-bind-html-unsafe="dado"></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="choose scene">
    <div class="wrapper">
      <form action="" class="form-choose">
        <label for="">{{ ux.paisOrigem }}</label>
        <select name="" ng-model="user.origem">
          <option value="">Select</option>
          <option value="pt">Brazil</option>
          <option value="es">Spain</option>
          <option value="sw">Swenan</option>
          <option value="tw">Taiwan</option>
          <option value="en">USA</option>
          <option value="vi">Vietnamit</option>
        </select>

        <label for="">{{ ux.paisDestino }}</label>
        <select name="" ng-model="user.aprender">
          <option value="">Select</option>
          <option value="pt">Brazil</option>
          <option value="es">Spain</option>
          <option value="sw">Swenan</option>
          <option value="tw">Taiwan</option>
          <option value="en">USA</option>
          <option value="vi">Vietnamit</option>
        </select>

        <button class="btn btn-save" ng-click="choose(user)">{{ ux.action }}</button>
        <a href="/" class="btn btn-cancel">{{ ux.actionCancel }}</a>
      </form>
    </div>
  </div>
</main>