<header class="header">
  <div class="wrapper">
    <h1 class="logo">Chatty</h1>
    <form action="" class="form-search">
      <input class="search" type="search" ng-model="search"/>
    </form>
    <nav class="nav"></nav>
  </div>
</header>

<main class="content">
  <div class="wrapper">
    <ul class="phrase-list">
      <li class="phrase-item" ng-repeat="dado in result | filter:search">
        <a class="phrase-link" href="#" ng-bind-html-unsafe="dado"></a>
      </li>
    </ul>
  </div>
</main>